# This is Git's per-user configuration file.
[user]
# Please adapt and uncomment the following lines:
	# name = owen
	# email = ojones@adobe.com
[core]
  editor = code --wait
[diff]
  tool = vscode
[difftool "vscode"]
  cmd = code --wait --diff $LOCAL $REMOTE
[merge]
  tool = vscode
[mergetool "vscode"]
  cmd = code --wait $MERGED
[url "git@git.corp.adobe.com:"]
	insteadof = https://git.corp.adobe.com
[safe]
	directory = /Users/owen/src/go/courier
